#about-titles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #1167b1;
}
.about-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
}

#about-sub-title {
  display: flex;
  justify-content: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
}

strong {
  padding-bottom: 15px;
}

.img-content {
  display: flex;
  justify-content: center;

  img {
    width: 35%;
    height: auto;
  }
}
