#about-titles {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f52ba;
}
.about-title {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
}
h2,
h3 {
  text-align: center;
}

#about-sub-title {
  display: flex;
  justify-content: center;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0 10vw;
}

strong {
  padding-bottom: 15px;
}

.img-content {
  display: flex;
  justify-content: center;

  img {
    width: 35%;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  
}
