#about-titles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: black;
}
#about-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: white;
}

// #about-sub-title{

// }

.about-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: white;
}
// h2,
// h3 {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
//   align-items: center;
//   color: white;
// }

strong {
  padding-bottom: 15px;
}
