.services-title {
  display: flex;
  padding-top: 300px;
  
}
.services-sub-title,
h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.services-content {
  list-style-type: square;
  color: white
}
