#services-titles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #1167b1;
}

#services-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
}

.services-sub-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
}

.img-content {
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: git;
  }
}
