#services-titles {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0f52ba;
}

#services-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
}

.services-sub-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
  h3 {
    text-align: center;
  }
}

.img-content {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
  }
}
