/* The hero image */
.hero-image {
  width: 100vw;
  height: fit-content;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // padding-top: 25px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.57);
  h1 {
    font-size: 4vw;
  }
  p {
    font-size: 2vw;
  }
  button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: darkgray;
    color: white;
    cursor: pointer;
  }
}
