/* The hero image */
.hero-image {
  width: 100vw;
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // padding-top: 25px;
}

/* Place text in the middle of the image */
.hero-header {
  text-align: center;
  position: absolute;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -18%);
  color: black;
  text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.57);
  h1 {
    font-size: 4vw;
  }
  p {
    font-size: 2vw;
  }
}
.hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
  font-size: 16px;
  button {
    margin-top: 100px;

    // display: flex;
    // // align-items: center;
    // // justify-content: center
    // border: none;
    // background-color: white;
    // color: black;
    // text-decoration: none;
    // transition-duration: 0.4s;
    button:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero-image {
    max-width: 100%;
    height: auto;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // padding-top: 25px;
  }
  .hero-text {
    // text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -18%);
    color: black;
    text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.57);
    h3 {
      font-size: 4vw;
    }
    p {
      font-size: 2vw;
    }
  }
  .hero-buttons {
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    font-size: 16px;
    button {
      margin: 4vh;

      // display: flex;
      // // align-items: center;
      // // justify-content: center
      // border: none;
      // background-color: white;
      // color: black;
      // text-decoration: none;
      // transition-duration: 0.4s;
      button:hover {
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }
  }
}
