.topnav {
  // height: 5vh;
  // width: 100vw;
  display: flex;
  justify-content: flex-end;
  // margin-bottom: 25px;
  // padding-bottom: 25px;
  background-color: #0f52ba;
  // position: sticky;
  // top: 0;
  // z-index: 100;
  overflow: hidden;

  // .options {
  //   width: 50%;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: flex-end;
  //   // padding-top: 25px;
  //   padding-right: 0px;

  // }
  .topnav-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav-link:hover {
    background-color: white;
    color: black;
  }
}

@media screen and (max-width: 600px) {
  
}
