.main-footer {
  background-color: black;
  color: white;
  position: relative;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;

  .left-container {
    padding-top: 10px;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    align-items: flex-end;
    padding-top: 7px;
  }

  .option {
    text-decoration: none;
    display: flex;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    transition-duration: 0.5s;
  }
  .option:hover {
    padding: 10px 15px;
    background-color: white;
    color: black;
  }

  p {
    margin: 0;
  }
}

// position: fixed;
// left: 0;
// bottom: 0;

// background-color: red;
// color: white;
// text-align: center;
