#about-titles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #0f52ba;
}

.container {
  display: flex;
  flex-direction: row;
}

.homepage-title {
  width: 100vw;
  padding: 0 10% 5% 10%;
  font-size: 4vh;
  text-align: center;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 500px;
    height: auto;
  }
}

.list-line-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  ul {
    text-align: left;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  // #about-titles {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  //   align-items: center;
  //   color: white;
  //   background-color: #0f52ba;
  // }

  .homepage-title {
    width: 100vw;
    padding: 0 10% 10% 10%;
    font-size: 3vh;
    text-align: center;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  .text-content {
    padding: 10% 10%;
  }

  .list-line-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    ul {
      li {
        list-style-position: outside;
      }
    }
    .text-content {
      padding: 0% 16%;
      text-align: center;
      font-size: 4vw;
    }
  }
}
