.homepage-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  color: black;

}

#about-titles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #1167b1;
}
#about-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
}

.header-title {
  margin: 0 25% 5% 25%;
}

.list-line-content {
  display: flex;
  padding: 20px;
  margin: 20px;
  // align-content: space-between;
  // justify-content: space-between;
  img {
    width: 50%;
    height: auto;
    padding: 0 5% 0 0;
  }
  .text-content {
    padding: 10% 0;
  }
}
