.homepage-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 0 100px 100px;
  color: black;
}

#about-titles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #1167b1;
}
#about-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: black;
}


